.screen {
    background-color: rgba(0, 0, 0, 0.65);
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;


    .box-item {
        display: flex;
        z-index: 2;

        .close-container {
            align-self: start;
            height: 20%;
            background-color: gray;
            color: white;
            position: fixed;
            transition: 0.3s;
            right: 10%;
            top: 5%;
            transform: translateZ(0);
            transition: 0.3s;
            display: flex;
            justify-content: center;
        }

        .container-box-buy {
            z-index: 10;
            position: fixed;
            background: white;
            width: 90%;
            height: 90%;
            top: 5%;
            left: 5%;
            display: flex;
            flex-direction: row;
            max-width: 1300px;
            max-height: 600px;
            margin: 0 auto;

            figure {
                border-bottom: 1px solid #d3d3d3;
                display: flex;
                flex: 1;
                margin: 30px;
                justify-content: flex-end;

                img {
                    width: 100%;
                    height: 100%;
                    max-width: 380px;
                    min-height: 480px;
                }


            }

            .details-box {
                flex: 2;
                text-align: center;


                .btn {
                    background-color: red;
                    display: flex;
                    margin-top: 100px;
                    flex: 1;
                }

                .btn {
                    button {
                        background-color: black;
                        color: white;
                        padding: 10px;
                        flex: 1;
                        font-size: 1.2em;
                    }
                }
            }
        }

    }

}


.box-item .size .not-checked {
    background-color: silver;
    cursor: not-allowed;
}


.box-item .size {
    display: flex;

    flex-direction: row;
    justify-content: center;
}

.box-item .size div {
    padding: 20px;
    border-radius: 50%;
    border: 1px solid gray;
}

.box-item .size .checked {
    background-color: white;
    z-index: 4;
}